@model GameSense.Models.Game
@{
    ViewData["Title"] = ViewBag.Name;
}
<link href="~/css/DetailStyle.css" rel="stylesheet" />
<style>
    /* Set the size of the div element that contains the map */
    #map {
        height: 400px; 
        width: 50%;
    }
</style>
<div asp-controller="Games" asp-action="UpdateViews" asp-route-id="@Model.ID"></div>
<h1 style="text-align: center;
    padding-top: 10px;">
   @Model.Name 
</h1>

<div class="cardD mb-3">
    <div class="card-body p-0">
        <div class="row edit">
            <div class="col-xl-3 col-lg-4 col-md-5">
                <a asp-controller="Games" asp-action="UpdateViews" asp-route-id="@Model.ID">
                    <img class="rounded thumbnail" style="background-image:url('@Model.Path');" />
                </a>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-7">
                <div class="row m-0 py-1 px-0">
                    <div class="col-lg-3 col-xl-2 strong">Genre</div>
                    <div class="col-lg-5 col-xl-10">@Html.DisplayFor(model => model.Genre)</div>
                </div>
                <div class="row m-0 py-1 px-0">
                    <div class="col-lg-3 col-xl-2 strong">Release Date</div>
                    <div class="col-lg-5 col-xl-10">@Html.DisplayFor(model => model.ReleaseDate)</div>
                </div>
                <div class="row m-0 py-1 px-0">
                    <div class="col-lg-3 col-xl-2 strong">Age Restriction</div>
                    <div class="col-lg-5 col-xl-10">@Html.DisplayFor(model => model.ageRestriction)</div>
                </div>
                <div class="row m-0 py-1 px-0">
                    <div class="col-lg-3 col-xl-2 strong">Developer</div>
                    <div class="col-lg-5 col-xl-10">@Html.DisplayFor(model => model.Developer)</div>
                </div>
                <div style="margin-top: 10px;">
                    <div class="row m-0 py-1 px-0 border-top">
                        <p><div class="col-lg-5 col-xl-10" style="margin-top: 10px;">@Html.DisplayFor(model => model.Description)</div></p>
                    </div>
                </div>
                <div class="row m-0 py-1 px-0">
                    <div id="map"></div>
                    <script>
                        function initMap() {
                          var loc = {lat: @Html.DisplayFor(model => model.lat), lng: @Html.DisplayFor(model => model.lng)};
                          var map = new google.maps.Map(
                              document.getElementById('map'), { zoom: 6, center: loc});
                            var marker = new google.maps.Marker({ position: loc, map: map});
                        }
                    </script>
                    <script defer
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCB3K3u9X6gopxXMq_ZQ6PHRBVce6LmIgQ&callback=initMap">
                    </script>
                </div>
                <partial name="AddGameToList" />
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="UserIndex">Back to List</a>
</div>